    .card {
        background-color: #f0f0f0;
        width: 300px;
        padding: 40px; /* Espaço interno para o conteúdo não grudar na borda */
        border-radius: 8px; /* Bordas arredondadas deixam o design moderno */
        
        /* Ativando o Flexbox para centralizar tudo verticalmente */
        display: flex;
        flex-direction: column; /* Itens um embaixo do outro */
        align-items: center;    /* Centraliza na horizontal */
        text-align: center;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra leve */
        margin: 50px auto;
    }

    .card :hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 8px rgba(0,0,0,0.25);
        transition: 0.2s;
    }

    /* Removendo as bolinhas da lista */
    .card ul {
        list-style: none;
        padding: 10px;
        background-color: rgb(161, 161, 161);
        border-radius: 8px;
        margin-bottom: 10px;
    }

    /* Estilo padrão do Link */
    .card a {
        text-decoration: none; /* Remove o sublinhado */
        color: #007bff;
        transition: 0.4s; /* Faz a mudança de cor ser suave, não instantânea */
    }

    /* O HOVER: Agora aplicado corretamente fora do bloco principal */
    .card a:hover {
        color: #ff4500; /* Muda para um laranja avermelhado ao passar o mouse */
        text-decoration: underline;
    }