div .class {
    background-color: rgb(199, 199, 199);
    height: 700px;
    width: 300px;
    list-style: none;
    .class:hover {
        color: red;
    }
    flex-direction: row;
    align-items: center;
    justify-content: center;
}